/* common styles and utilites */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #EEEEEE;
 }
/* header styles start here */

header{
   display: flex;
   justify-content: center;
   margin-bottom: 139px;
   color: white;
}
.header-container{
   display: flex;
   border-radius: 30px;
   background-color:  #161616;
 }
.header-des{
   width: 531px;
   margin-top: 100px;
   margin-left: 106px;
   margin-right: 24px;
}
.header-title{
    margin-bottom: 20px;
    line-height: 80px;
}
.header-title h1{
   font-size: 70px;
   font-weight: 700;
}
.header-pera{
   margin-bottom: 30px;
 }
.header-btn{

}
.header-btn button{
   padding: 16px 25px;
    background-color: #DD0000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
}
.header-banner{
   width: 581px;
   margin-top: 49px;
   margin-right: 79px;
}
.header-banner img{
   width: 100%;
}
 /* header styles ends here */
 /* main blogs start here */
 
 #main-blogs{
     display: flex;
     justify-content: center;
     margin-bottom: 130px;
 }
 .all-cards{
    display: flex;
  }
 .side-menu-card{
    width: 312px;
    height: 312px;
    background-color: #161616;
    margin-right: 24px;
    border-radius: 10px;
 }
 .menu-buttons{
    margin: 30px 30px;
 }
 .match{
    margin-bottom: 30px;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
 }
 .group{
    margin-bottom: 30px;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
 }
 .blog{
    background-color: #DD0000;
    color: white;
    font-size: 20px;
    font-weight: 600;
 }
  .menu-buttons button a{
    text-decoration: none;
    color: black;
    font-weight: 500;
 }
 .menu-buttons button{
    width: 252px;
    font-size: 20px;
    padding: 17px 0;
    border-radius: 10px;
   }
 .blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 24px;
 }
 article{
    width: 312px;
    background-color: #F6F6F6;
    border-radius: 10px;
  }
 .blogs-info{
    margin: 20px;
  }
 .blogs-info button{
    padding: 4px 16px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-right: 192px;
 }
 .blogs-info p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
 }
 .player-time{
    display: flex;
    text-align: left;
 }
 .player-time div{
    margin-right: 20px;
 }
 /* styles for upcoming match starts here */
 #upcoming-match{
    background-color: #DD0000;
    color: white;
    font-size: 20px;
    font-weight: 600;
 }
 #match-blog{
    margin-bottom: 30px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 600;
 }
 #flags-main{
    width: 312px;
    height: 242px;
 }
 .flag-container{
    margin: 53px 30px;
 }
.flag-img{
    display: flex;
}
.garmany{

}
.garmany img{
    width: 93px;
}
.versus{
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 23px;
    margin-right: 23px;
}
.france{

}
.france img{
    width: 93px;
}
.blogs-info{
    text-align: center;
    margin-top: 20px;
 }
 .match-date{
    margin-top: 20px;
    margin-bottom: 53px;
 }
.view-all{
  text-align: center;
}

 /* styles for upcoming match ends here */
  /* footer styles starts here */
  footer{
   text-align: center;
   background-color: black;
   color: white;
   padding: 130px 0;
}
.footer-goal{
  font-size: 40px;
  font-weight: 600;
  -top: 130px;
}
footer hr{
  margin: 50px 140px;
}
.footer-links{
  /* margin-bottom: 130px; */
}
.footer-links a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin-right: 60px;
  color: white;
}
.footer-icons{
 margin-top: 100px;
}
.footer-icons a{
  text-decoration: none;
  margin-right: 50px;
  font-size: 35px;
  color: white;
}
 .view-all{
   margin-bottom: 20px;
 }
 .view-all button{
   display: none;
   padding: 16px 25px;
    background-color: #DD0000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
 }
 /* footer ends here */
 /* Midea Querry  */
/* for mobile */
@media only screen and (max-width: 688px) {
   header{
     flex-direction: column;
     margin-bottom: 24px;
   }
   .header-container{
     flex-direction: column;
   }
   .header-des{
     width: 100%;
     margin-left: 38px;
     margin-right: 38px;
   }
   .header-title{
     line-height: 30px;
     width: 228px;
     text-align: center;
     margin-left: 30px;
   }
   .header-title h1{
     font-size: 22px;
   }
   .header-pera{
     width: 258px;
     margin-left: 15px;
     text-align: center;
   }
   .header-btn button{
      padding: 8px 12px;
      margin-left: 78px;
   }
   .header-banner{
     width: 100%;
     margin-right: 38px;
     margin-left: 63px;
   }
   .header-banner img{
      width: 233px;
   }
   /* menu styles starts  */
   #main-blogs{
      flex-direction: column;
      margin-bottom: 30px;
   }
   .all-cards{
      flex-direction: column;
      align-items: center;
   }
   .side-menu-card{
      background-color: #EEEEEE;
   }
   .menu-buttons button{
      border: none;
     }
     .match .group{
      background-color: rgba(255, 255, 255, 0.747);
     }
     .blogs{
      grid-template-columns: repeat(1, 1fr);
     }

     /* footer style starts here */
     footer{
      padding: 24px 0;
     }
     footer hr {
      margin: 24px 20px;
     }
     .footer-links{
      display: flex;
      flex-direction: column;
      margin-left: 60px;
     }
     .footer-links a{
      margin-bottom: 10px;
      }
      .footer-icons{
         margin-top: 30px;
         margin-left: 55px;
      }
}
/* for mobile */

/* medium devices midea query */
@media only screen and (min-width: 670px) and (max-width: 991.98px) {
   .header-des{
      width: 316px;
      margin-top: 60px;
      margin-left: 76px;
      margin-bottom: 61px;
   }
   .header-title{
      width: 289px;
      margin-bottom: 20px;
      line-height: 50px;
   }
   .header-title h1{
      font-size: 40px;
   }
   .header-banner{
      width: 323px;
      margin-top: 49px;
      margin-right: 79px;
   }
   .all-cards{
      flex-direction: column;
      align-items: center;
   }
   .side-menu-card{
      margin-right: 0;
      background-color: white;
      width: 826px;
      height: 110px;
      display: flex;
   }
}